.hg-header {
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    box-shadow: rgba(var(--black), 0.15) 0 0 15px;
}

.hg-header .logo svg {
    max-width: 225px;
    max-height: 40px;
}

.is-sticky {
    background-color: rgba(var(--white)) !important;
}

